@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

.flex_center {
  @apply flex justify-center items-center;
}

.flex_start {
  @apply flex justify-start items-start;
}

.flex_end {
  @apply flex justify-end items-end;
}

.flex_between {
  @apply flex justify-between items-center;
}

.links {
  @apply !text-white hover:!text-textBlue;
}

